<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587845765713-lmka828p4hui16rubbi8vbc64pehrlko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587845765713-lmka828p4hui16rubbi8vbc64pehrlko</string>
	<key>API_KEY</key>
	<string>AIzaSyCUbstQcgQQW_rzQCIEmxJz86j6SB2rUSg</string>
	<key>GCM_SENDER_ID</key>
	<string>587845765713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.fftrivia</string>
	<key>PROJECT_ID</key>
	<string>triviagame-89a99</string>
	<key>STORAGE_BUCKET</key>
	<string>triviagame-89a99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587845765713:ios:360c467e9a37a8d51ac670</string>
</dict>
</plist>